.bg-fan {
	background-image: url('../../image/fanidol.png') !important;
	// background-size: cover;
}
.bg-idol {
	background-image: url('../../image/numberidol.png') !important;
	// background-size: cover;
	// background-color: red;
}
.bg-class {
	background-image: url('../../image/classidol.png') !important;
	// background-size: cover;
	// background-color: red;
	// width: 100%;
}
.item-dad {
	cursor: pointer;
}
.item-child {
	visibility: hidden;
}
.item-dad:hover .item-child {
	visibility: visible;
	cursor: pointer;
}
