.data-item {
	overflow-y: scroll;
}
// .popup-choose {
// 	.ant-modal-content {
// 		width: 358px !important;
// 		height: 349px !important;
// 		background-color: red;
// 	}
// }
.ant-modal-content {
	width: 520px;
	height: 349px;
}
